
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.square {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22rem;
  height: 22rem;
  background-color: #4F4557;
  margin: 10px;
  border-radius: 10%;
}

a{
  color: #F4EEE0;
}

.home_img{
  width: 80%;
}

.home_heading{
  font-size: 1.3rem;
}

.col{
  flex-direction: column;
  height: auto;
}



/* CENTURES PAGE */

.search-area{ 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4F4557;
  height: 8rem;
  width: 45rem;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.input_box{
  width: 75%;
  height: 3rem;
  background-color: #393646;
  color: #F4EEE0;
  border: none;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 10px;

}
.btn{
  height: 3rem;
  margin-left: 5px;
  font-size: 16px;
  color: #F4EEE0;
  background-color: #393646;
  border: none;
  border-radius: 10px;
}

.out_div{
  display: flex;
  align-items: center;
  color: #F4EEE0;
  background-color: #4F4557;
  margin-bottom: 10px;
  border-radius: 10px;
}

.building{
  height: 10rem;
}


/* SATALIGHTS PAGE */

.sat{
  width: 30rem;
  justify-content: space-around;
}












/* SPACEPAGE */
.spacepage{
  background-color: #393646;
}

.data{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.rocket{
  height: 5rem;
  margin-top: 10px;
}

.data>div{
  width: 10rem;
  font-size: 10px;
  background-color: #4F4557;
  border-radius: 8%;
  margin: 5px;
}

.itemsdiv{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F4EEE0;

}

.rocket_name{
  margin-top: 20px;
}