html{
  font-size: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22rem;
  height: 22rem;
  background-color: #4F4557;
  margin: 10px;
  border-radius: 10%;
}

a{
  display: flex;
  color: #F4EEE0;
  justify-content: center;
}

.home_img{
  width: 80%;
}

.home_heading{
  font-size: 1.3rem;
}

.col{
  flex-direction: column;
  margin-top: 20%;
  height: auto;
}



/* CENTURES PAGE */

.search-area{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4F4557;
  height: 8rem;
  width: 24rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.input_box{
  width: 75%;
  height: 3rem;
  background-color: #393646;
  color: #F4EEE0;
  border: none;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.btn{
  height: 3rem;
  margin-left: 5px;
  font-size: 16px;
  color: #F4EEE0;
  background-color: #393646;
  border: none;
  border-radius: 10px;
  margin-bottom: 5px;
}



.out_div{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F4EEE0;
  background-color: #4F4557;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 23rem;
}

.heading{
  color: #F4EEE0;
  font-size: 3rem; 
  width: 17.5rem; 
  margin-left: auto;
  margin-right: auto;
}

.building{
  height: 8rem;
}


/* SATALIGHTS PAGE */

.sat{
  width: 23rem;
  justify-content: space-around;
}

.out_heading{
  font-size: 1.8rem;
}

.out_subheading{
  font-size: 1.2rem;
}


/* SPACEPAGE */
.spacepage{
  background-color: #393646;
}

.data{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.rocket{
  height: 5rem;
  margin-top: 10px;
}

.data>div{
  width: 10rem;
  font-size: 10px;
  background-color: #4F4557;
  border-radius: 8%;
  margin: 5px;
}

.itemsdiv{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F4EEE0;

}

.rocket_name{
  margin-top: 20px;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container{
    height: auto;
    flex-wrap: wrap;
    margin-top: 10rem;
  }
  .container>a{
    width: 45%;
  }
  .square{
    height: 20rem;
  }
  .home_img{
    height: 13rem;
    width: auto;
  }
  .home_heading{
    width: 80%;
    font-size: 25px;
  }

  .search-area{ 
    flex-direction: row;
    width: 45rem;
    border-radius: 20px;
  }
  .data{
    justify-content: space-between;
  }


  .out_div{
    width: 35rem;
  }
  .building{
    height: 10rem;
  }

  .sat{
    width: 30rem;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
  .container{
    flex-wrap: nowrap;
    margin-top: 25%;
  }
  .container>a{
    width: 25%;
  }
  .square{
    height: 16rem;
  }
  .home_img{
    height: 8rem;
  }




} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container>a{
    width: auto;
  }
  .container{
    margin-top: 16%;
  }
  .square{
    height: 20rem;
  }
  .home_img{
    height: 14rem;
  }
}